img.item-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 5%;
}

img.item-barcode {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    display: block;
}