<!-- This is common sidebar which is rendered in the main component. 
so use absolute file route when defining the href -->
<ul id="sidebarnav">
    <!-- home -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Home</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/index.html" aria-expanded="false">
            <span>
                <i class="fa-brands fa-slack fa-lg"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
        </a>
    </li>
    <!-- end home -->

    <!-- user -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">User</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/User/UserTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-user fa-lg"></i>
            </span>
            <span class="hide-menu">Users</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/role/RoleTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-star"></i>
            </span>
            <span class="hide-menu">Roles</span>
        </a>
    </li>
    <!-- end user -->

    <!-- item -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Item</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/inStock/InStockTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-chart-simple fa-lg"></i>
            </span>
            <span class="hide-menu">Item Stock</span>
        </a>
    </li>
    <!-- end item -->

    <!-- supplier -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Supplier</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/supplier/SupplierTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-parachute-box fa-lg"></i>
            </span>
            <span class="hide-menu">Suppliers</span>
        </a>
    </li>
    <!-- end supplier -->

    <!-- purchase order -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Order</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/purchaseOrder/PurchaseOrderTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-paper-plane"></i>
            </span>
            <span class="hide-menu">Purchase Orders</span>
        </a>
    </li>
    <!-- end purchase order -->

    <!-- sale -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Sale</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/sale/SaleTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-dollar-sign"></i>
            </span>
            <span class="hide-menu">Sale</span>
        </a>
    </li>
    <!-- end sale -->
</ul>