<!-- This is common sidebar which is rendered in the main component. 
so use absolute file route when defining the href -->
<ul id="sidebarnav">
    <!-- item -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Item</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/item/ItemTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-boxes-stacked fa-lg"></i>
            </span>
            <span class="hide-menu">Items</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/inStock/InStockTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-chart-simple fa-lg"></i>
            </span>
            <span class="hide-menu">Item Stock</span>
        </a>
    </li>
    <!-- end item -->

    <!-- sale -->
    <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Sale</span>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/sale/SaleTable.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-dollar-sign"></i>
            </span>
            <span class="hide-menu">Sale</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="/finalYearProjectServer/src/html/sale/Checkout.html" aria-expanded="false">
            <span>
                <i class="fa-solid fa-cash-register"></i>
            </span>
            <span class="hide-menu">Checkout</span>
        </a>
    </li>
    <!-- end sale -->
</ul>